        .bs-example{
        margin: 20px;
        }
        .header{
        font-family: "Impact", Charcoal, sans-serif;
        font-size: 20px;
        }

        a {
        color: white;
        }

        .btn-primary {
            background: #ffdb4d;
            color: #ffffff;
            }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #ffe680;
        }

        h3 {
        color: white;
        font-family: "Impact", Charcoal, sans-serif;
        }
        .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        }

        body {
        background-color: black;
        }

        .nav-tabs{
        background-color:#161616;
        }

        .tab-content{
        background-color: black;
        color:#fff;
        padding:5px
        }
.nav-tabs > li > a{
  border: medium none;
}

        .imagewrap {
        display:inline-block;
        position:relative;

        }
        .inButtons {
        position:absolute;
        top:0;
        left:0;
        }

        .in-bottom-buttons {
        position:absolute;
        bottom:0;
        left:0;
        }

        .right {
        position: absolute;
        left: 33%;
        border: none;
        padding: 10px;
        }
        .hidden {
        visibility: hidden;
        }
        .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        z-index:1000;
        }

.custom-button {
    width: 115px !important;
}



