<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=400, initial-scale=1">
    <title>Cyber Camera</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="static/magnific-popup.css">

    <!-- Magnific Popup core JS file -->
    <script src="static/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RecordRTC.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addtohomescreen.css') }}">
    <script src="{{ url_for('static', filename='addtohomescreen.js') }}"></script>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-152x152.png') }}" sizes="152x152" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-16x16.png') }}" sizes="16x16" />
    <script>
addToHomescreen();
</script>
    <style type="text/css">
        .bs-example{
        margin: 20px;
        }
        .header{
        font-family: "Impact", Charcoal, sans-serif;
        font-size: 20px;
        }

        a {
        color: white;
        }

        .btn-primary {
            background: #ffdb4d;
            color: #ffffff;
            }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #ffe680;
        }

        h3 {
        color: white;
        font-family: "Impact", Charcoal, sans-serif;
        }
        .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        }

        body {
        background-color: black;
        }

        .nav-tabs{
        background-color:#161616;
        }

        .tab-content{
        background-color: black;
        color:#fff;
        padding:5px
        }
.nav-tabs > li > a{
  border: medium none;
}

        .imagewrap {
        display:inline-block;
        position:relative;

        }
        .inButtons {
        position:absolute;
        top:0;
        left:0;
        }

        .in-bottom-buttons {
        position:absolute;
        bottom:0;
        left:0;
        }

        .right {
        position: absolute;
        left: 33%;
        border: none;
        padding: 10px;
        }
        .hidden {
        visibility: hidden;
        }
        .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        z-index:1000;
        }}
    </style>
</head>
<body>
<div class="navbar navbar-inverse bg-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href= "#" class="navbar-brand">
            <img alt="Cyber Camera"  src="{{ url_for('static', filename='logo_prim.png') }} " width="250" height="30" >
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-left">
            <li data-toggle="modal" data-target="#aboutModal" ><a href="#">About</a></li>
        </ul>
    </div>
</div>

<div id="aboutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <p>Cyber Camera is an application that turns your old or simple webcam into a smart security home surveillance system </p>
                <p>You are welcome to the <a href="https://github.com/amirfefer/Cyber-Camera"> GitHub </a> project site , and be a part of it </p>
                <p>If you encounter a bug, please <a href="mailto:amirfefer@gmail.com?Subject=Cyber-Camera" target="_top">email me </a>, or open an <a href="https://github.com/amirfefer/Cyber-Camera/issues/new"> issue </a> in GitHub</p>

                <br>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YMMWTJDFKM68A">
                    <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="modal-footer">
                <p align="center"><i> By Amir Fefer </i></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="bs-example">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active "><a href="#sectionA">Stream <i class="glyphicon glyphicon-facetime-video"></i></a></li>
        <li><a href="#sectionB">Active <i class="glyphicon glyphicon-check"></i></a></li>
        <li><a href="#settings">Cloud <i class="glyphicon glyphicon-cog"></i></a></li>
    </ul>

    <div class="tab-content">
        <div align="center"  id="sectionA" class="tab-pane fade in active">

            <h3 align="left">Stream</h3>
            <br>
            <div  id="cloud-note" class="alert alert-info fade in center">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>{{error}} Your next video record will upload to cloud </strong>
            </div>
            <br>
            <br/>

            <div class="imagewrap">
                <div  id="stream"> <a href="/video_feed" class="test-popup-link"><IMG id="bg"  SRC="/video_feed" width="320" height="240" ></a>
                </div>
                <div class="btn-group-vertical btn-group-md inButtons" id="navbar-upper">
                    <button type="button" id="toggle-bars" class="btn btn-primary" title="Show / Hide menu bar" ><span class="glyphicon glyphicon-menu-hamburger"/></button>
                    <button type="button" class="btn btn-warning" id="btn-cloud" data-toggle="buttons-checkbox" title="While its marked, all your videos and photos will save at your cloud service"> <span class="glyphicon glyphicon-cloud"/></button>
                    <button type="button" id="btn-toggle-video" class="btn btn-warning" title="Record"> <span class="glyphicon glyphicon-film"/> </button>
                    <button type="button" id="btn-image" class="btn btn-warning" title="Capture a Photo" onclick="document.location.href='get_frame?options=save';"><span class="glyphicon glyphicon-camera"/></button>
                    <button type="button" id="btn-sound" class="btn btn-warning" title="Record yourself and play it at home" ><span class="glyphicon glyphicon-volume-up"/></button>
                    <button type="button" id="btn-lg2" class="btn btn-warning" title="Download a Photo" onclick="document.location.href='get_frame';"><span class="glyphicon glyphicon-download-alt"/></button>

                </div>
                <div class="btn-group btn-group-xs in-bottom-buttons" id="navbar-bottom">
                    <button type="button" id="btn-small" class="btn btn-warning">Small</button>
                    <button type="button" id="btn-med" class="btn btn-warning">Medium</button>
                    <button type="button" id="btn-lg" class="btn btn-warning">Large</button>
                </div>

            </div>

            <p></p>
        </div>

        <div id="sectionB" class="tab-pane fade">
            <h3>Active Security</h3>
            <br>

            {% if online != None and online.is_alive() %}
            <script>
            $('#note').alert('close');
            </script>
            <div class="alert alert-danger center">
                <strong>Importent!</strong> The Online Security is already active
                <br>
            </div>
            <form action="toggle_online" method="post">
                <button type="submit" class="btn btn-warning" name = "submit" value = "off" >Stop Active Secure</button>
            </form>
            {% else %}
            <br>
            <form action="toggle_online" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="detection" class="control-label col-md-2">Detection Method:</label>
                    <div class="col-md-6">
                        <select name="method" class="form-control" id="detection">
                            <option value="move">Movement Detection</option>
                            <option value="face">Face Detection</option>
                            <option value="ubody">Upper Body Detection</option>
                            <option value="fbody">Full Body Detection</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="slider" class="control-label col-md-2">Sensitivity</label>
                    <div class="col-md-6">
                        <input type="range" name="sensitive" id="slider" min="1" max="5" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="sound" name="chk-sound">Alarm</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="mail" name="chk-mail">Email notification</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox" value="notification" name="chk-not"> Phone notification </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="settings" class="tab-pane fade">
            <h3>Settings</h3>
            <h4>Cloud</h4>
            <p align="center">For cloud support please register with Dropbox account once:</p>
            <br>

            <form action="/" method="post">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-warning" type="button" onclick="window.open('{{dropbox}}','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;"">Get Your code</button>
      </span>
                            <input type="text" name="code" class="form-control" placeholder="Enter Your code Here...">
                            <div class="input-group-btn">
                                <button class="btn btn-warning" type="submit">Go!</button>
                            </div>

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>                                		